@media (max-width: 1024px) {

    .header-nav-list {
        top: 0;
        left: 0;
        position: absolute;
        flex-direction: column;
        gap: 12px;
        padding: 20px 0;
        transform: translateX(-100%);
        transition: .3s;
        width: 100%;
        @apply bg-white;
    }
    .header-nav-burgerCheckbox:checked ~ .header-nav-list {
        transform: translateX(0);
    }
}
.header-nav-burgerCheckbox {
    position: absolute;
    visibility: hidden;
}
.header-nav-burger {
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 22.5px;
    height: 17.5px;
    margin: 10px auto;

    &::before, &::after {
        content: '';
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 1.5px;
        @apply bg-black;
    }

    &::before {
        top: 0;
        @apply shadow-[0_8px_0_#000];
        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
    }

    &::after {
        bottom: 0;
        transition: bottom .3s .15s, transform .3s;
    }
}

.header-nav-burgerCheckbox:checked + .header-nav-burger {
    &::before {
        top: 8px;
        transform: rotate(45deg);
        box-shadow: 0 8px 0 rgba(0, 0, 0, 0);
        transition: box-shadow .15s, top .3s, transform .3s .15s;
    }

    &::after {
        bottom: 8px;
        transform: rotate(-45deg);
        transition: bottom .3s, transform .3s .15s;
    }
}