@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: 250, 224, 26;
        --color-primary-light: 255, 247, 190;
        --color-secondary: 1, 143, 163;
        --color-secondary-light: 149, 216, 224;
    }
    @font-face {
        font-family: 'Commissioner';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(./fonts/Commissioner-Regular.ttf) format('ttf');
    }
    @font-face {
        font-family: 'Commissioner-Medium';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(./fonts/Commissioner-Medium.ttf) format('ttf');
    }
    @font-face {
        font-family: 'Commissioner-Bold';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url(./fonts/Commissioner-Bold.ttf) format('ttf');
    }
    html {
        font-family: "Commissioner", system-ui, sans-serif;
        @apply text-base leading-base font-normal text-black bg-background relative;
        overflow-x: hidden;
    }
    b,strong {
        font-family: "Commissioner-Bold", system-ui, sans-serif;
        @apply font-bold;
    }
}